<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/404.css" type="text/css">
  </head>
  <body>
    <div>
      <h1><b>Error {{errorCode}}</b></h1>
      <h1>{{message}}</h1>
    </div>
    
    <div class="container">

        <div class="center">
            <button onclick="location.href='/'" type="button">Take me Home</button>
        </div>
    </div>
    <div class="center-left">
      <img src="/images/errorRobot.png" alt="Error Robot">
    </div>
    
  </body>
</html>